extends ../layout
block content
	.container
		.row
			.col-md-7
				//- embed(src="#{movie.flash}", allowFullScrenn="true", quality="high", width="720", hight="600", align="middle", type="application/x-shockware-flash")
				video(src="#{movie.video}",controls="controls",width="720", hight="600")
			.col-md-5
				dl.dl-horizontal
					dt 海报
					dd 
						img(src="#{movie.poster}",width="300",height="300")
					dt 电影名字
					dd #{movie.title}
					dt 导演
					dd #{movie.doctor}
					dt 国家
					dd #{movie.country}
					dt 语言
					dd #{movie.language}
					dt 上映时间
					dd #{movie.time}
					dt 简介
					dd #{movie.summary}